body {
    font-family: 'Times New Roman', Times, serif;
}

.sized{
    width: 500px;
}

.centered{
    position: absolute;
    top: 35%;
    left: 13%;
    margin-top: -50px;
    margin-left: -50px;
}

.title{
    text-align: center;
}

.form-centered{
    margin-left: 12.5%;
}

.card-body{
    background-color: rgb(250, 246, 246);
    border: solid rgba(177, 173, 173, 0.499);
    font-size: 120%;
}

.card-title{
    font-weight: bold;
}